*{
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: rgb(233, 247, 250);
    margin: 0px 20px;
    color: slategray;
}

header {
    padding: 20px 35px;
    /* background-color: var(--tertiary-color); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

a:hover {
    text-decoration: none;
    color: black;
}

header a {
    text-decoration: none;
    color: slategray;
}

header nav {
    text-align: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    text-decoration: none;
    color: slategray
}

header nav ul li {
    margin: 10px 20px;
    color: slategray;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header div {
    text-align: center;
}

header div h2 {
    text-align: center;
    display: block;
    font-size: 90%;
}

main {
    margin: auto;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    padding-top: 150px;
}

.about-body {
    background-color: powderblue;
    color: white;
}

.archive-body {
    background-color: #aaf0d1;
}

.btn {
    margin-top: 50px;
    color: white;
    background-color: slategray;

}

#word {
    margin-top: 100px;
    font-size: 100px;
}

#definition {
    font-size: 30px;
}

#related-words {
    font-size: 18px;
}


