*{
    font-family:'Courier New', Courier, monospace;
    color: slategray;
}

body {
    background-color: rgb(250, 242, 233);
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-element: 9999;
}

a:hover {
    text-decoration: none;
    color: black;
}

header a {
    text-decoration: none;
    color: slategray;
}

header nav {
    text-align: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    text-decoration: none;
    color: slategray
}

header nav ul li {
    margin: 10px 20px;
    color: slategray;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header div {
    text-align: center;
}

header div h2 {
    text-align: center;
    display: block;
    font-size: 90%;
}

main {
    margin: auto;
    text-align: center;
    display: block;
}

.title {
    font-size: 20px;
}

.word {
    font-size: 100px;
}

.definition {
    font-size: 30px;
}

.info {
    font-size: 18px;
}


